body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtVKi_3Mpef5mInQLfT2Qv3p7Ii40iTShQlg&usqp=CAU");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: skyblue;
}

h1 {
    color: goldenrod;
}

#message-el {
   
}

 
button {
color: #016f32;
width: 150px;
background:goldenrod;
padding-top: 5px; 
padding-bottom: 5px;
font-weight: bold;
border: none; 
border-radius: 2px; 
margin-bottom: 2px; 
margin-top: 2px;
}
